Manifest.toml
test/Manifest.toml
docs/build/*
docs/Manifest
data/mesh.jld2
data/fields.jld2
unv_sample_meshes/*
constant/
/[0-9]*/

*.csv
*.unv
*.vtk
*.vtu
*.pb.gz
*.foam

!NIST_*.csv
*.txt
CLAUDE.md
.claudeignore
*.jld2
*.log
*.bin
.codex
.agents
.claude
.vscode
dev/
